<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <h2 class="mb-3"><a href="/department" class="text-reset text-decoration-none">Departments</a></h2>

            <form action="/department" method="POST" class="input-group">
                <input type="text" class="form-control" name="name" id="deptName" placeholder="Add Department" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Add</button>
                </div>
            </form>
            
            <div class="list-group">
                <% depts.forEach(dept => { %>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= dept.name %></h5>
                            
                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <button type="button" id="editBtn" onclick="window.location.href='/department/<%= dept._id %>/edit'" class="btn btn-outline-secondary btn-sm"><i class="fas fa-edit"></i></button>
                                <form action="/department/<%= dept._id %>?_method=DELETE" method="POST">
                                    <button type="submit" id="deleteBtn" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                        <p class="mb-1"><%= dept.description %></p>
                        <small><%= dept.timeAgo %></small>
                    </a>
                <% }) %>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>