<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5">

            <div class="row">
                <div class="col-4 pr-0">
                    <a href="/employee/new" class="btn btn-secondary">Add Empl</a>
                </div>
                <div class="col pl-0">
                    <form action="/employee" method="GET">
                        <div class="input-group">
                            <select class="custom-select" name="department[name]" id="inputGroupSelect04">
                                <option selected>Select Department</option>
                                <% depts.forEach(dept => { %>
                                    <option><%= dept.name %></option>
                                <% }) %>
                            </select>
                            <div class="input-group-append">
                              <button class="btn btn-secondary" type="submit">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="list-group">
                <% employees.forEach(employee => { %>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><%= employee.name %></h5>
                            
                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <button type="button" id="editBtn" onclick="window.location.href='/employee/<%= employee._id %>/edit'" class="btn btn-outline-secondary btn-sm"><i class="fas fa-edit"></i></button>
                                <form action="/employee/<%= employee._id %>?_method=DELETE" method="POST">
                                    <button type="submit" id="deleteBtn" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"><small><%= employee.mobileNumber %></small></div>
                            <div class="col-5 text-center"><small><%= employee.department.name %></small></div>
                            <div class="col-4 text-right"><small><%= Math.floor((new Date() - employee.createdAt) / 60000) %> mins ago</small></div>
                        </div>
                    </a>
                <% }) %>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>